 body {
  margin: 0px;
  padding: 0px;

  font-family: "Roboto", Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #000000;
  background-color: #ffffff;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}


.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  overflow: hidden;
}


.main-header,
.item-description,
.slider {
  background-color: #eeeeee;
}

.logo img {
  display: block;
}

.logo:hover{
  opacity: 0.8;
}

.logo:active,
.logo:focus /*xprt*/{
  opacity: 0.3;

}

.site-navigation,
.user-navigation,
.slider,
.items,
.our-partners,
.footer-social ul,
.catalog-list,
.pagination-list {
  list-style: none;
}

.site-navigation a,
.user-navigation a {
  font-size: 16px;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
}


.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
  text-decoration: none;
  color: #fb565a;
}

.site-navigation a:active,
.user-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}

/* aktivny, nahodimsya na stranitse
.current-page{
  border-bottom: 2px solid #fb565a;
}
 ? ne znau pravilno li sdelala? */

.slide h3 {
  font-size: 55px;
  color: #000000;
  line-height: 55px;
  /*background-color: #eeeeee;* povtoryaetsya kak i v .main-header*/
}

.button {
  font: inherit;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
  vertical-align: middle;
  border: none;
  border-radius: none;
}

.slide .button,
.item-1 .red-button,
.contacts .button,
.write-us-form .button {
  background-color: #fb565a;
}

.slider-nav,
.slider-nav li {
  margin: 0px;
  padding: 0px;
  list-style: none;

}

.slider-nav {
  position: absolute;
  left: 50%;

  bottom: 104px;
  z-index: 100;

  width: 160px;
  height: 18px;

  text-align: center;
  font-size: 0;
  transform: translateX(-50%);

}

.slider-nav li {
  display: inline-block;
  width: 18px;
  height: 18px;

  position: relative;

  border-radius: 50%;
  cursor: pointer;

  padding: 8px;
}

.slider-nav i::after {
  content: "";

  width: 18px;
  height: 18px;

  background: #ffffff;
  position: absolute;
  top: 8px;
  left: 8px;
  z-index: 1;

  border-radius: 50%;

}

.slider-nav .active::before {
  content: "";

  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2;

  width: 4px;
  height: 4px;
  margin: -4px;

  background-color: inherit;
  border: 2px solid #c1c1c1;
  border-radius: 50%;
}

.slide a {
  display: block;
  width: 240px;
  height: 50px;
  box-sizing: border-box;
  padding: 18px 0;

  border-radius: 3px;
  border: none;
}

.slide a:hover,
.item-1 .red-button:hover,
.slide a:focus,
.item-1 .red-button:focus {
  background-color: #e74246;
}

.slide a:active,
.item-1 .red-button:active {
  background-color: #d7373b;
  color: rgba(255, 255, 255, 0.3);
  box-shadow: inset 0 3px 0 0 rgba(0, 1, 1, 0.1);
}/*efekt vzhatiya!*/

.item-2 .green-button {
  background-color: #00ca74;
}

.item-2 .green-button:hover {
  background-color: #00bc6c;
}

.item-2 .green-button:active,
.item-2 .green-button:focus/*xprt*/ {
  background-color: #00aa62;
  color: rgba(255, 255, 255, 0.3);
  box-shadow: inset 0 3px 0 0 rgba(0, 1, 1, 0.1);

}/*efekt vzhatiya!*/

.item-3 .yellow-button {
  background-color: #efc84a;
}

.item-3 .yellow-button:hover {
  background-color: #eab534;
}

.item-3 .yellow-button:active,
.item-3 .yellow-button:focus/*xprt*/ {
  background-color: #e5a722;
  color: rgba(255, 255, 255, 0.3);
  box-shadow: inset 0 3px 0 0 rgba(0, 1, 1, 0.1);

}/*efekt vzhatiya!*/

.item-1 .red-button,
.item-2 .green-button,
.item-3 .yellow-button {
  border-radius: 3px;
  width: 160px;
  line-height: 50px;
}

.items h2 {
  font-size: 24px;
  font-weight: bold;

  color: #000000;
  background-color: #ffffff;
  line-height: 30px;
  text-transform: uppercase;
}

.feature-item h2 {
  font-size: 44px;
  line-height: 45px;
  color: #000000;
  font-weight: 500;
}

.feature-item h4,
.feature-table h4 {
  text-transform: uppercase;
  font-weight: bold;
}

tr:nth-child(1) td {
  font-size: 45px;
  line-height: 45px;
  color: #000000;
  font-weight: bold;
  text-transform: uppercase;
  padding-bottom: 18px;
}

tr:nth-child(2) td {
  font-size: 16px;
  line-height: 18px;
}

tr td:nth-child(2) {
  padding-left: 15px;
}

tr td:nth-child(3) {
  padding-left: 21px;
}

.feature-table img {
  display: block;
}

.feature-table h4 {
  margin-top: 36px;
  margin-bottom: 38px;
  padding: 0px;
  text-align: center;
  letter-spacing: -0.1px;
}

.partner {
  width: 260px;
  position: relative;
}

.partner img {
  margin: 0 auto;
}

.partner:nth-child(1) img {
  margin-top: 9px;
}

.partner:nth-child(4) img {
  margin-top: 4px;
}

.partner::after {
  content: "";
  width: 2px;
  height: 52px;
  display: inline-block;
  background-color: #d3d3d3;

  position: absolute;
  top: 50%;
  right: -20px;
  transform: translateY(-50%);
}

.partner:nth-last-child(1)::after {
  display: none;
}

.partner a {
  opacity: 0.3;
}

.partner a:hover {
  opacity: 1;
}

.partner a:active,
.partner a:focus /*xprt*/ {
  opacity: 0.1;

}

.contacts {
  background-color: #ffffff;
}

.contacts h2 {
  font-weight: bold;
}

.address h4,
.filtres legend,
.filtres-apply h4{
  font-size: 18px;
  color: #000000;
  font-weight: bold;
  text-transform: uppercase;
}

.address h4,
.filtres legend {
  line-height: 30px;
}

.address p {
  line-height: 18px;
  margin: 0px;
  margin-bottom: 39px;

  letter-spacing: 0.3px;
  padding-left: 1px;
}

.footer-social a {
  background-color: #e1e1e1;
}

.footer-social a:hover {
  background-color: #e74246;
}

.footer-social a:active,
.footer-social a:focus /**/ {
  background-color: #d7373b;
  opacity: 0.3;
  box-shadow: inset 0 3px 0 0 rgba(0, 1, 1, 0.1);

} /*efekt vzhatiya!*/

/* catalog */

.filtres input[type="radio"],
.filtres label {
  color: #283136;
}

.filtres input[type="radio"]:hover,
.filtres label:hover {
  color: #000000;
}

.filtres input[type="radio"]:disabled,
.filtres label:disabled {
  color: rgba(40, 49, 54, 0.3);
}

.filtres-apply h4{
  line-height: 18px;
}

.filtres-apply a {
  font-size: 14px;
  line-height: 18px;
  color: #000000;
  text-transform: uppercase;
}

.filtres-apply a {
  color: rgba(0, 0, 0, 0.3);
}

.filtres-apply a:hover {
  color: rgba(0, 0, 0, 0.6);
}

.filtres-apply a:active,
.filtres-apply a:focus /*xprt*/ {
  color: rgba(0, 0, 0, 1);
}

.filtres-nav a {
  opacity: 0.1;
}

.filtres-nav a:hover {
  opacity: 0.3;
}

.filtres-nav a:active,
.filtres-apply a:focus,
.filtres-nav .filtres-current,
.filtres-criteria .filtres-current {
  opacity: 1;
}

.filtres button {
  border: none;
  width: 260px;
  height: 50px;
  background-color: #eeeeee;
  color: #000000;
  text-transform: uppercase;
  border-radius: 3px;
  font-weight: 300;
}

.filtres button:hover {
  background-color: #dfdfdf;
  color: #000000;
}

.filtres button:active,
.filtres button:focus /*xprt*/{
  background-color: #d5d5d5;
  color: rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 3px 0 0 rgba(0, 1, 1, 0.1);

}

.item-description {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  width: 360px;
  height: 238px;
}

.description-wrapper {
  max-width: 240px;
  text-align: center;
}

.item-description h3 {
  font-size: 18px;
  font-weight: bold;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;

  margin-top: 26px;
}

.item-description a {
  color: #000000;
  box-sizing: border-box;
  width: 200px;
  height: 50px
}

.item-description span {
  margin: 0;
  padding: 0;
  letter-spacing: 0.2px;
}

.item-description .button {
  margin-top: 29px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  background-color: #fb565a;
}


.item-description .button:hover{
  background-color: #e74246;
}

.item-description .button:active,
.item-description .button:focus/*xprt*/ {
  background-color: #e74246;
  color: rgba(255, 255, 255, 0.3);
  box-shadow: inset 0 3px 0 0 rgba(0, 1, 1, 0.1);

}/*efekt vzhatiya!*/

.item-description span {
  display: block;
  line-height: 18px;
  color: #666666;
}

/*forma soobsheniya*/

.write-us-form label {
  line-height: 18px;
  font-weight: bold;
  color: #000000;
}

.write-us-form h2 {
  font-size: 45px;
  line-height: 45px;
  color: #000000;
}

.write-us-form input[type="text"],
.write-us-form input[type="email"] {
  font: inherit;
  color: rgba(68, 68, 68, 0.5);
  border: 1px solid #d7dcde;

}

.write-us-form input[type="text"]:hover,
.write-us-form input[type="email"]:hover {
  color: rgba(68, 68, 68, 0.5);
  border: 1px solid #b4b9bb;
}

.write-us-form input[type="text"]:focus,
.write-us-form input[type="email"]:focus {
    outline: 0px;
	color: #000000;
	border: 1px solid  #000000;
}

.write-us-form input[type="text"]:invalid,
.write-us-form input[type="email"]:invalid {
  color: rgba(231, 66, 70, 0.5);
  border: 1px solid #e74246;
}

.close-button {

  border: none;
  background-color: #fecccd;
}

.close-button:hover {
  background-color: #fb565a;
}

.close-button:hover {
  background-color: #ffeeee;
}


/*домашнее задание СЕТКИ*/

body,
html {
  min-width: 1165px;

}


/*домашняя работа СЕТКИ*/

.container {
  width: 1160px;
  padding: 0 20px;
  margin: 0 auto;
}

.main-navigation {
  display: flex;
  justify-content: space-between;
  padding-top: 49px;
  padding-bottom: 17px;
}

.site-navigation {
  display: flex;
  justify-content: space-between;

  padding-top: 24px;
  flex-wrap: wrap;
}

.site-navigation,
.user-navigation {
  padding: 0px;
  margin: 0px;
  list-style: none;
}

.user-navigation li {
  padding: 0px;
  margin: 0px;
  list-style: none;
}

.site-nav-item {
  margin: 0px;

  padding-right: 36px;
  padding-left: 11px;

  list-style: none;
}

.slide {
  display: none;
}

.slider {
  position: relative;
  min-height: 413px;
  background-color: #eeeeee;
}

.text-wrapper {
  min-width: 380px;
  max-width: 520px;
  padding-top: 61px;
}

.text-wrapper p  {
  margin: 0px;
  margin-bottom: 38px;
}

.text-wrapper h3 {
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  margin: 0px;
  margin-bottom: 28px;
}

.slide {
  position: relative;

}

.slide-img {
  position: absolute;
  top: 0px;
  right: 32px;
}

.slide-1 {
  display: block;
}

.slide h3 {
  margin-top: 0px;
}

/*items*/

.items,
.item,
.items h2 {
  margin: 0px;
  padding: 0px;
}

.products {
  margin-top: 80px;
  padding-bottom: 80px;
  border-bottom: 2px solid #d3d3d3;
}

.items {
  display: flex;
}

.item {
  display: flex;
  flex-direction: column;
  margin-right: 100px;
}

.item:last-child {
  margin-right: 0px;
}

.item .red-button,
.item .green-button,
.item .yellow-button {
    display: block;

}

.item h2 {
  margin-top: 26px;
}

.item p {
  margin-top: 17px;
  margin-bottom: 32px;
}

.features {
  display: flex;
  justify-content: space-between;
  padding-bottom: 51px;
  border-bottom: 2px solid #d3d3d3;
}

.our-partners ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

.our-partners li {
  margin: 0px;
  padding: 0px;
  padding-top: 46px;
  padding-bottom: 37px;
  list-style: none;
}

.feature-item ul {

  margin: 0px;
  padding: 0px;
  list-style: none;
}

.feature-item li {
  margin-top: 0px;
  margin-bottom: 24px;
  padding: 0px;
  list-style: none;
  display: flex;
  align-items: center;
}

.feature-item li::before {
  content: "";
  display: inline-block;
  width: 25px;
  height: 2px;
  background-color: #fb5559;
  margin-right: 10px;
}



.feature-item h2 {
  margin: 0px;
  padding: 0px;
  margin-bottom: 33px;
  letter-spacing: 0.8px;
}

.feature-item p {
  margin: 0px;
  padding: 0px;
  margin-bottom: 39px;
}

.feature-item h4 {
  margin: 0px;
  margin-bottom: 24px;
}

.feature-item {
  margin-top: 74px;
  width: 668px;
}

.feature-table{
  width: 360px;
  margin-top: 40px;
}

.our-partners {
  border-bottom: 2px solid #d3d3d3;
  margin-bottom: 80px;
}

.our-partners ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.write-us-form {
  display: none;
}

.contacts {
  position: relative;
  min-height: 416px;
  z-index: 1;
}

.main-map {
  z-index: -1;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 0px;

}

.address {
  padding-bottom: 46px;
  padding-top: 52px;
  padding-right: 50px;
  padding-left: 48px;
  width: 320px;
  box-sizing: border-box;
  position: absolute;
  top: 52px;
  background-color: white;
}

.address h4 {
  margin: 0px;
  padding: 0px;
  margin-bottom: 23px;
}

.address button {
  display: inline-block;
  width: 100%;
  height: 49px;
  border-radius: 3px;
}

.map-marker {
  position: relative;
}

.map-marker img {
  position: absolute;
  top: 90px;
  left: 680px;
}

.main-footer {
  margin: 69px 0;
}
.footer-social ul {
  display: flex;
  justify-content: space-between;
}

.footer-social ul,
.footer-social li {
  margin: 0px;
  padding: 0px;
}

.footer-wrap {
  display: flex;
}

.footer-social ul {
  display: flex;
}

.footer-social a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 78px;
  height: 78px;
  background-color: #e1e1e1;
  border-radius: 50%;

}

.footer-social .social-icon {
  margin-right: 12px;
}

.footer-social .social-icon:last-child {
  margin-right: 0px;
}

.social-discount {
  margin-left: 140px;
  margin-top: 8px;
}

.social-discount span {
  letter-spacing: 0.1px;
}

.social-discount h3 {
  margin: 0px;

  font-size: 36px;
  line-height: 36px;
  color: #000000;
  font-weight: bold;

  letter-spacing: 0.2px;
  margin-bottom: 8px;

}

/*catalog*/

.catalog-title {

  background-color: #eeeeee;

}

.catalog-title h1 {
  margin: 0px;
  padding: 0px;
  font-size: 55px;
  line-height: 55px;
  color: #000000;
  background-color: #eeeeee;
  text-align: center;
  padding-top: 59px;
  padding-bottom: 110px;
}

.catalog-content {
  display: flex;
  justify-content: space-between;
  margin-top: 55px;
}

.filtres {
  width: 265px;
}

.item-cards {
  width: 760px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.filtres-apply {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 56px;
}

.filtres-apply h4 {
  margin: 0px;
  padding: 0px;
}

.filtres-class,
.filtres-class li {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

.filtres-class {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 360px;
}

.filtres-criteria {
  display: flex;
}

.filtres-criteria li:not(:nth-last-child(1)) {
  margin-right: 25px;
}

.filtres-nav {
  display: flex;
}

.filtres-nav li:nth-child(1) {
  margin-right: 19px;

}

/*
.filtres-class li:nth-last-child(1) {
  width: 13px;
  height: 15px;
  background-image: url("../img/svg-nerds/icon-up-dir.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.filtres-class li:nth-last-child(2) {
  width: 13px;
  height: 15px;
  background-image: url("../img/svg-nerds/icon-down-dir.svg");
  background-repeat: no-repeat;
  background-position: center;
} */

.catalog-list {
  margin: 0px;
  padding: 0px;
  list-style: none;

}

.catalog-item {
  margin: 0px;
  padding: 0px;
  list-style: none;
  margin-bottom: 27px;
  padding-top: 39px;
}

.item-description {
  width: 360px;
  margin: 0px;
}

.pagination-list,
.pagination-list li {
  padding: 0px;
  margin: 0px;
  list-style: none;
}


.pagination-list {
  display: flex;
}

.pag {
  display: inline-block;
  box-sizing: border-box;
  background-color: #eeeeee;
  border-radius: 3px;
  margin-right: 12px;

  color: #000000;
  text-transform: uppercase;
  min-width: 50px;
  height: 50px;

  display: flex;
  align-items: center;
  justify-content: center;
}


.pag-next {
  min-width: 265px;
  height: 50px;
}

.pag-current {
  border: 2px solid #dbdbdb;
  background-color: #ffffff;
  box-sizing: border-box;
}

.pag:hover {
  background-color: #dfdfdf;
  color: #000000;
}

.pag:active {
  background-color: #d5d5d5;
  color: rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 3px 0 0 rgba(0, 1, 1, 0.1);
}

/*
.pagination-list li:active,
.pagination-list li:focus {
  background-color: #d5d5d5;
  box-shadow: inset 0 3px 0 0 rgba(0, 1, 1, 0.1);


 */


.catalog-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.catalog-item {
  position: relative;

}

.catalog-item::before {
  content: "";
  background-image: url("../img/svg-nerds/browser.svg");
  width: 360px;
  height: 41px;
  position: absolute;
  top: 0px;
  opacity: 0.12;
}

.item-description {
  position: absolute;
  bottom: 0px;
  opacity: 0;
}

.catalog-item:hover .item-description,
.catalog-item:hover::before {
  opacity: 1;
}

.catalog-item:hover {
  box-shadow: 0px 6px 15px 0px rgba(50, 50, 50, 0.25);
}

.catalog {
  margin-bottom: 58px;
}

.catalog-content section:last-child {
  margin-bottom: 58px;
}

/*декоративные элементы*/
.current-page {
  position: relative;
}

.current-page::after {
  content: "";
  width: 100%;
  height: 2px;
  background-color: #fb565a;
  position: absolute;
  bottom: -10px;
  left: 0px;
}

/*
.main-navigation {
  background: rgba(0, 128, 0, 0.2);
  box-shadow: 0 0 0 1px green;
}*/

.user-navigation li {
  min-width: 135px;
  text-align: right;
}

.cart {
  position: relative;
  padding-left: 41px;
}

.cart::before {
  content: "";
  height: 16px;
  width: 16px;
  position: absolute;

  left: 0px;
  bottom: 0px;
  background-image: url(../img/svg-nerds/cart-icon.svg);
  background-repeat: no-repeat;
}

.site-navigation,
.user-navigation {
  padding-top: 26px;
}

/*filtr*/

.filter-item {
  margin: 0;
  padding: 0;

  border: none;
}

.filter-item ul {
    margin:  0;
    padding: 0;

    list-style: none;
}

.filter-item legend {
  margin-bottom: 6px;
}

.filter-item li {
  padding: 0;

  list-style: none;

  margin: 5px 0;
}

.filter-item:nth-child(2) {
  margin-top: 61px;
}

.filter-item:nth-child(3) {
  margin-top: 27px;
  margin-bottom: 47px;
}

.filter-item:nth-child(3) legend {
  margin-bottom: 12px;
}

.range-filter {
  width: 260px;
  margin-top: 49px;
}

.filter-item legend {
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 700;
}

.range-controls {
  height: 41px;
  border-radius: 5px;
  margin-bottom: 15px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;

  background-color: #f1f1f1;
  position: relative;

}

.range-controls .scale {
  height: 2px;

  background: #d7dcde;
}

.range-controls .bar {

  height: 2px;

  margin-left: 30px;
  width: 30%;

  background: #00ca74;
}

.range-controls .toggle {
  width: 4px;
  height: 4px;
  padding: 0;

  border: 8px solid #ffffff;
  background-color: #ababab;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 #cfcfcf;

  position: absolute;
  top: 31px;
  left: 0;

  cursor: pointer;
}

.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls label {
  display: inline-block;
  width: 50%;

  font-size: 16px;
  text-transform: uppercase;
}

.range-controls .toggle-min {
  left: 50px;
}

.range-controls .toggle-max {
  left: 110px;
}

.price-controls {
  font-size: 0;
}

.price-controls input {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  text-align: center;
  color: #283136;

  margin-left: 10px;

  width: 60px;
  padding: 8px 10px;

  border: none;
  border-radius: 5px;
  background: #f1f1f1;
}

.max-price {
  text-align: right;
}

.radio,
.checkbox {
  display: inline-flex;
  cursor: pointer;

  align-items: flex-start;
}

input[type="radio"]:enabled + .radio::before {
  content: "";
  display: inline-block;
  width: 30px;
  height: 30px;
  background-image: url("../img/svg-nerds/radio-off.svg");
  background-repeat: no-repeat;
  opacity: 0.4;
  margin-right: 8px;
}


input[type=radio]:checked + .radio::before {
  content: "";
  display: inline-block;
  width: 30px;
  height: 30px;
  background-image: url("../img/svg-nerds/radio-on.svg");
  background-repeat: no-repeat;
  opacity: 0.4;
  margin-right: 8px;
}


input[type="checkbox"]:enabled + .checkbox::before {
  content: "";
  display: inline-block;
  width: 30px;
  height: 30px;
  background-image: url("../img/svg-nerds/checkbox-off.svg");
  background-repeat: no-repeat;
  opacity: 0.4;
  margin-right: 8px;
}

input[type="checkbox"]:checked + .checkbox::before {
  content: "";
  display: inline-block;
  width: 30px;
  height: 30px;
  background-image: url("../img/svg-nerds/checkbox-on.svg");
  background-repeat: no-repeat;
  opacity: 0.4;
  margin-right: 8px;
}
